<ion-header>
  <ion-toolbar>
    <ion-title>Search Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Vyhledávací pole -->
  <ion-searchbar
    [(ngModel)]="searchQuery"
    (ionInput)="searchMovies()"
    placeholder="Search movies"
  ></ion-searchbar>

  <!-- Seznam filmů -->
  <ion-list>
    <ion-item *ngFor="let movie of movies" (click)="goToMovieDetail(movie.id)">
      <ion-thumbnail slot="start">
        <img *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w92' + movie.poster_path" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ movie.title }}</h2>
        <p>⭐️ {{ movie.vote_average }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <!-- Nekonečný scroll (pouze pro populární filmy) -->
  <ion-infinite-scroll
    *ngIf="hasMorePages && !isSearchMode"
    threshold="100px"
    (ionInfinite)="loadMovies($event)"
  >
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more movies..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
