<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Favourite Movies
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-sm="6" size-md="4" size-lg="2" *ngFor="let movie of favoriteMovies">
        <div class="movie-card">
          <!-- Tlačítko pro odstranění -->
          <ion-button fill="clear" color="danger" class="delete-button" (click)="removeFavoriteMovie(movie.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>

          <!-- Toast element -->
          <ion-toast [isOpen]="isToastOpen" [message]="toastMessage" [duration]="1000" (didDismiss)="setOpen(false)"
          cssClass="custom-toast" position="top"></ion-toast>

          <!-- Obrázek filmu -->
          <ion-img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}"
            (click)="goToMovieDetail(movie.id)">
          </ion-img>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>





  <!-- Záložka pro případ, že není žádný oblíbený film -->
  <ng-template #noFavorites>
    <ion-card>
      <ion-card-header>
        <ion-card-title>No Favorites Yet</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Add movies to your favorites to see them here.</p>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-content>